.button-container {
    display: inline-block;
    justify-content: flex-end;
    width: 40%;
    margin: 5px;
}

button {
    margin: 5px;
}

.container {
    width: 100%;
    text-align: center;
}

.assignment-header {
    text-align: left;
}

mat-form-field {
    width: 40%;
    margin-left: 12px;
}

.assignment-container {
    border: 1px solid;
    display: inline-block;
    width: 90%;
    height: 60%;
    font-size: small;
}
