@import "../../../../theme.scss";

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;
}



button {
    margin: 10px;
    height: 50px;
    width: 50px;
}

mat-icon {
    font-size: 35px;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    text-align: center;
}

.assignment-header {
    text-align: left;
    background-color: $primary1;
    color: white;
}

mat-form-field {
    width: 30%;
    margin-left: 12px;
}

.assignment-container {
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
        0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
    display: inline-block;
    width: 95%;
    height: 250px;
}


::ng-deep .mat-chip-list-wrapper{
    flex-wrap: nowrap !important;
    overflow: auto;
    overflow-y: hidden;
    height: 50px;
}
