<div class="container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Publikationsschlüssel</mat-label>
            <input
                placeholder="Bsp. NA-123"
                matInput
                name="key"
                formControlName="key"
                required
            />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Titel</mat-label>
            <input
                placeholder="Bsp. Clean Code"
                matInput
                name="title"
                formControlName="title"
                required
            />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Verlag</mat-label>
            <input
                placeholder="Bsp. Prentice Hall"
                matInput
                name="publisher"
                formControlName="publisher"
            />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>ISBN</mat-label>
            <input
                placeholder="Bsp. 9780132350884"
                formControlName="isbn"
                matInput
                name="isbn"
            />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Anzahl</mat-label>
            <input
                placeholder="Bsp. 42"
                type="number"
                formControlName="quantity"
                min="0"
                matInput
                name="quantity"
                required
            />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Datum der Veröffentlichung</mat-label>
            <input
                placeholder="Bsp. 1.8.2008"
                matInput
                name="dateOfPublication"
                formControlName="dateOfPublication"
                [matDatepicker]="picker"
            />
            <mat-datepicker-toggle
                matSuffix
                [for]="picker"
                [disabled]="this.formGroup.disabled"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Art der Publikation</mat-label>
            <input
                placeholder="Bsp. Buch"
                type="text"
                name="kindOfPublication"
                matInput
                formControlName="kindOfPublication"
                [matAutocomplete]="autocompleteKindOfPublication"
            />
            <mat-autocomplete
                #autocompleteKindOfPublication="matAutocomplete"
                [displayWith]="displayKindOfPublication"
            >
                <mat-option
                    *ngFor="
                        let kindOfPublication of filteredKindsOfPublication
                            | async
                    "
                    [value]="kindOfPublication"
                >
                    {{ kindOfPublication.value }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Schlagwörter</mat-label>
            <mat-chip-list #chipListKeywords formControlName="keywords">
                <mat-chip
                    *ngFor="let keyword of formGroup.get('keywords')!.value"
                    (removed)="removeKeyword(keyword)"
                >
                    {{ keyword.value }}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input
                    placeholder="Bsp. Code"
                    name="keywords"
                    #keywordInput
                    [formControl]="keywordControl"
                    [matAutocomplete]="autocompleteKeywords"
                    [matChipInputFor]="chipListKeywords"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addKeyword($event)"
                />
            </mat-chip-list>
            <mat-autocomplete
                #autocompleteKeywords="matAutocomplete"
                (optionSelected)="selectedKeyword($event)"
            >
                <mat-option
                    *ngFor="let keyword of filteredKeywords | async"
                    [value]="keyword"
                >
                    {{ keyword.value }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Autoren</mat-label>
            <mat-chip-list #chipListAuthors formControlName="authors">
                <mat-chip
                    *ngFor="let author of formGroup.get('authors')!.value"
                    (removed)="removeAuthor(author)"
                >
                    {{ author.surname }} {{ author.name }}
                    <button matChipRemove>
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip>
                <input
                    placeholder="Bsp. Mustermann Max"
                    name="authors"
                    #authorInput
                    [formControl]="authorControl"
                    [matAutocomplete]="autocompleteAuthors"
                    [matChipInputFor]="chipListAuthors"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addAuthor($event)"
                />
            </mat-chip-list>
            <mat-autocomplete
                #autocompleteAuthors="matAutocomplete"
                (optionSelected)="selectedAuthor($event)"
            >
                <mat-option
                    *ngFor="let author of filteredAuthors | async"
                    [value]="author"
                >
                    {{ author.surname }} {{ author.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <div class="button-container">
            <button
                *ngIf="this.formGroup.disabled"
                type="button"
                (click)="onEdit()"
                mat-mini-fab
                color="primary"
                matTooltip="Editieren"
            >
                <mat-icon>edit</mat-icon>
            </button>

            <button
                *ngIf="this.formGroup.disabled"
                type="button"
                (click)="onDeletePublication()"
                mat-mini-fab
                color="warn"
                matTooltip="Löschen"
            >
                <mat-icon>delete</mat-icon>
            </button>

            <button
                *ngIf="this.formGroup.enabled"
                type="submit"
                [disabled]="formGroup.invalid"
                mat-mini-fab
                color="primary"
                matTooltip="Speichern"
            >
                <mat-icon>done</mat-icon>
            </button>

            <button
                *ngIf="this.formGroup.enabled && !this.addingPublication"
                type="button"
                (click)="onCancel()"
                mat-mini-fab
                color="primary"
                matTooltip="Rückgängig"
            >
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </form>
    <div *ngIf="hasAssignments" class="assignment-container">
        <h3 class="assignment-header">Ausleihvorgänge:</h3>
        <app-assignment-list
            [assignments]="assignments"
        ></app-assignment-list>
    </div>
</div>
