@import "../theme.scss";

$header-background: $primary1;
$footer-background: $primary1;
$font-color: white;

img {
    width: 380px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.main-container {
    position: absolute;
    top: 80px;
    bottom: 20px;
    left: 0;
    right: 0;
    box-shadow: inset 0px 3px 5px -1px rgb(0 0 0 / 30%),
        inset 0px 6px 10px 0px rgb(0 0 0 / 18%),
        inset 0px 1px 18px 0px rgb(0 0 0 / 13%);
}

.list {
    margin-top: 5px;
    height: 92%;
    padding: 5px;
    display: flex;
    flex-direction: column;    
    background-color: $accent1;
}

mat-sidenav {
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 8%),
        0px 6px 10px 0px rgb(0 0 0 / 6%), 0px 1px 18px 0px rgb(0 0 0 / 4%);
}


button {    
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 45px;
    display: flex;
    border-radius: 5px;
    padding: 0 5px;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 8%),
        0px 6px 10px 0px rgb(0 0 0 / 6%), 0px 1px 18px 0px rgb(0 0 0 / 4%);
    font-size: 18px !important;
}

button:hover {
    background: $accent2;
}

.active{
    color: $warn2;
    background: $primary1;
}

mat-icon {
    margin-right: 5px;
    width: 40px;
    font-size: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $header-background;
    color: $font-color;
}

.logo {
    width: 80px;
    margin-left: 10px;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.15));
}


h1 {
    font-size: 42px;
    margin-left: 80px;
}

.nak-logo-text {
    margin-right: 10px;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.15));
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $footer-background;
    color: $font-color;
    text-align: end;
}
