<div class="header">
    <div>
        <img class="logo" src="/assets/naklogo.svg" />
    </div>
    <h1>Bibliotheksverwaltung</h1>
    <div class="nak-logo-text">
        <img src="/assets/naklogoWithText.svg" />
    </div>
</div>

<mat-sidenav-container class="main-container">
    <mat-sidenav mode="side" opened>
        <mat-list class="list">
            <mat-list-item>
                <button mat-icon-button [routerLink]="'/overdue-notice'">
                    <mat-icon>running_with_errors</mat-icon>
                    Mahnwesen
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button [routerLink]="'/publications'">
                    <mat-icon>menu_book</mat-icon>
                    Publikationen
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button [routerLink]="'/assignments'">
                    <mat-icon>assignment</mat-icon>
                    Ausleihvorgänge
                </button>
            </mat-list-item>
            <mat-list-item>
                <button mat-icon-button [routerLink]="'/basedata'">
                    <mat-icon>storage</mat-icon>
                    Stammdaten
                </button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

<div class="footer">
    Gruppe: Marcel Dymarz, Thorge Früchtenicht, Kevin Jahrens und Nello Musmeci
</div>
