@import "../theme.scss";

$header-background: white;
$footer-background: $primary1;
$header-font-color: $primary1;
$footer-font-color: white;
img {
    width: 380px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

::ng-deep .content > .ng-star-inserted {
    height: 100% !important;
}

.main-container {
    position: absolute;
    top: 80px;
    bottom: calc(20px + 1em);
    left: 0;
    right: 0;
}

.list {
    margin-top: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

mat-sidenav {
    background-color: white !important;
}

::ng-deep .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    place-content: space-between;
}

button {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 45px;
    display: flex;
    border-radius: 5px;
    padding: 0 5px;
    font-size: 18px !important;
}

button:hover {
    background: $accent1;
    color: $primary1;
}

.active {
    color: $accent1;
    background: $primary1;
}

mat-icon {
    margin-right: 5px;
    width: 40px;
    font-size: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $header-background;
    color: $header-font-color;
    position: absolute;
    width: 100%;
    z-index: 100;
    border-bottom: 2px solid $accent1;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%);
}

.logo {
    width: 80px;
    margin-left: 10px;
}

.header > h1 {
    font-size: 42px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.nak-logo-text {
    margin-right: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: calc(100% - 20px);
    background-color: $footer-background;
    color: $footer-font-color;
    text-align: end;
    padding: 10px;
}

.sidenav-content{
    display: flex;
    flex-direction: column;
    place-content: space-between;
}
