table {
    width: 100%;
}

.container {
    width: 100%;
    overflow: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
}

th {
    font-size: larger;
}

tr{
    vertical-align: top;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row.hovered {
    background-color: rgb(208, 208, 208);
}

.mat-row.highlighted {
    background-color: rgb(170, 170, 170);
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}


.form-container {
    width: 99%;
    margin: 5px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.btn-container {
    width: 99%;
    margin: 5px;
    text-align: right;
    display: flex;
    margin-left: 10px;
}

button {
    margin: 5px;
}

form {
    width: 100%;
}

.add-btn{
    margin-right: 20px;
}


