<div class="container">
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Journal" />
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="kindOfPublication">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Kind of Publication
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.value }}
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
            mat-row
            (click)="selection.toggle(row)"
            (click)="selectionChanged(row)"
            [ngClass]="{
                hovered: row.hovered,
                highlighted: selection.isSelected(row),
                disabled: crudState === 0 || crudState === 2
            }"
            (mouseover)="row.hovered = true"
            (mouseout)="row.hovered = false"
            *matRowDef="let row; columns: displayedColumns"
        ></tr>
    </table>

    <mat-paginator
        [pageSizeOptions]="[10, 25, 50, dataSource.data.length]"
        showFirstLastButtons
        class="mat-paginator-sticky"
    >
    </mat-paginator>
</div>

<div class="form-container">
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Kind of Publication</mat-label>
            <input
                id="inputField"
                name="kindOfPublication"
                [disabled]="crudState === 1"
                matInput
                placeholder="Ex. Hausarbeit"
                [value]="selectedKindOfPub.value || ''"
                #input
            />
        </mat-form-field>
    </form>

    <div class="btn-container">
        <button
            matTooltip="edit selection"
            (click)="edit()"
            [disabled]="selectedKindOfPub.value === undefined"
            *ngIf="crudState === 1"
            mat-mini-fab
            color="primary"
        >
            <mat-icon>edit</mat-icon>
        </button>

        <button
            mat-mini-fab
            matTooltip="save changes"
            *ngIf="crudState === 0 || crudState === 2"
            (click)="save(input.value)"
            color="primary"
        >
            <mat-icon>done</mat-icon>
        </button>

        <button
            mat-mini-fab
            matTooltip="delete kind of publication"
            [disabled]="selectedKindOfPub.value === undefined"
            *ngIf="crudState === 1"
            color="warn"
            (click)="delete()"
        >
            <mat-icon>delete</mat-icon>
        </button>

        <button
            mat-mini-fab
            matTooltip="undo changes"
            (click)="undo()"
            *ngIf="crudState === 0 || crudState === 2"
            color="primary"
        >
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <button
        class="add-btn"
        mat-mini-fab
        matTooltip="add publication"
        color="primary"
        (click)="add()"
        *ngIf="crudState === 1"
    >
        <mat-icon>add</mat-icon>
    </button>
</div>
