<div class="container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Key der Publikation</mat-label>
            <input
                placeholder="Ex. NA-123"
                type="text"
                name="publication"
                matInput
                formControlName="publication"
                [matAutocomplete]="autocompletepublication"
                required
            />
            <mat-autocomplete
                #autocompletepublication="matAutocomplete"
                [displayWith]="displayPublication"
            >
                <mat-option
                    *ngFor="let publication of filteredPublication | async"
                    [value]="publication"
                >
                    {{ publication.key }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Ausleihdatum</mat-label>
            <input
                placeholder="Ex. 1.8.2008"
                matInput
                name="dateOfAssignment"
                formControlName="dateOfAssignment"
                [matDatepicker]="pickerDateOfAssignment"
            />
            <mat-hint>DD.MM.JJJJ</mat-hint>
            <mat-datepicker-toggle
                matSuffix
                [for]="pickerDateOfAssignment"
                [disabled]="this.formGroup.disabled"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerDateOfAssignment></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Ausleiher</mat-label>
            <input
                placeholder="Ex. Mustermann Max"
                type="text"
                name="borrower"
                matInput
                formControlName="borrower"
                [matAutocomplete]="autocompleteBorrower"
                required
            />
            <mat-autocomplete
                #autocompleteBorrower="matAutocomplete"
                [displayWith]="displayBorrower"
            >
                <mat-option
                    *ngFor="let borrower of filteredBorrowers | async"
                    [value]="borrower"
                >
                    {{ borrower.surname }} {{ borrower.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Rückgabedatum</mat-label>
            <input
                matInput
                name="dateOfReturn"
                formControlName="dateOfReturn"
                [matDatepicker]="pickerDateOfReturn"
            />
            <mat-hint>DD.MM.JJJJ</mat-hint>
            <mat-datepicker #pickerDateOfReturn></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Verlängerungen</mat-label>
            <input
                matInput
                type="text"
                name="extensions"
                formControlName="extensions"
            />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Späteste Abgabe</mat-label>
            <input
                matInput
                name="latestReturnDate"
                formControlName="latestReturnDate"
                [matDatepicker]="pickerLatestReturnDate"
            />
            <mat-hint>DD.MM.JJJJ</mat-hint>
            <mat-datepicker #pickerLatestReturnDate></mat-datepicker>
        </mat-form-field>

        <div class="button-container">
            <button
                *ngIf="this.formGroup.disabled && assignment"
                type="button"
                (click)="onExtend()"
                [disabled]="this.formGroup.value.dateOfReturn"
                mat-mini-fab
                color="primary"
                matTooltip="Ausleihvorgänge verlängern"
            >
                <mat-icon>av_timer</mat-icon>
            </button>

            <button
                *ngIf="this.formGroup.disabled"
                type="button"
                (click)="onReturn()"
                [disabled]="this.formGroup.value.dateOfReturn"
                mat-mini-fab
                color="primary"
                matTooltip="Buch zurückgeben"
            >
                <mat-icon>assignment_return</mat-icon>
            </button>

            <button
                *ngIf="this.formGroup.enabled"
                type="submit"
                [disabled]="formGroup.invalid"
                mat-mini-fab
                color="primary"
                matTooltip="save changes"
            >
                <mat-icon>done</mat-icon>
            </button>

            <button
                *ngIf="this.formGroup.enabled"
                type="button"
                (click)="onCancel()"
                mat-mini-fab
                color="primary"
                matTooltip="undo changes"
            >
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </form>
</div>
