// Author: Marcel Dymarz

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;
}

button {  
    margin: 10px;
    height: 50px;
    width: 50px;
}

mat-icon {
    font-size: 35px;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    text-align: center;
}

mat-form-field {
    width: 90%;
    margin-left: 12px;
}
