<div class="container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Key der Publikation</mat-label>
            <input
                placeholder="Ex. NA-123"
                type="text"
                name="publicationKey"
                matInput
                formControlName="publicationKey"
                [matAutocomplete]="autocompletepublicationKey"
            />
            <mat-autocomplete #autocompletepublicationKey="matAutocomplete">
                <mat-option
                    *ngFor="
                        let publicationKey of filteredPublicationKeys | async
                    "
                    [value]="publicationKey"
                >
                    {{ publicationKey }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Verleihdatum</mat-label>
            <input
                placeholder="Ex. 1.8.2008"
                matInput
                name="dateOfAssignment"
                formControlName="dateOfAssignment"
                [matDatepicker]="pickerDateOfAssignment"
            />
            <mat-datepicker-toggle
                matSuffix
                [for]="pickerDateOfAssignment"
                [disabled]="this.formGroup.disabled"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerDateOfAssignment></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Rückgabedatum</mat-label>
            <input
                placeholder="Ex. 1.8.2008"
                matInput
                name="dateOfReturn"
                formControlName="dateOfReturn"
                [matDatepicker]="pickerDateOfReturn"
            />
            <mat-datepicker-toggle
                matSuffix
                [for]="pickerDateOfReturn"
                [disabled]="this.formGroup.disabled"
            ></mat-datepicker-toggle>
            <mat-datepicker #pickerDateOfReturn></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Ausleiher</mat-label>
            <input
                placeholder="Ex. Max Mustermann"
                type="text"
                name="borrower"
                matInput
                formControlName="borrower"
                [matAutocomplete]="autocompleteBorrower"
            />
            <mat-autocomplete
                #autocompleteBorrower="matAutocomplete"
                [displayWith]="displayBorrower"
            >
                <mat-option
                    *ngFor="let borrower of filteredBorrowers | async"
                    [value]="borrower"
                >
                    {{ borrower.surname }} {{ borrower.name }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <div class="button-container">
            <button
                *ngIf="this.formGroup.disabled"
                type="button"
                (click)="onExtend()"
                [disabled]="
                    (isAssignmentExtandable!(assignment) | async) === false
                "
                mat-mini-fab
                color="primary"
                matTooltip="Ausleihvorgänge verlängern"
            >
                <mat-icon>av_timer</mat-icon>
            </button>

            <button
                *ngIf="this.formGroup.disabled"
                type="button"
                (click)="onReturn()"
                mat-mini-fab
                color="primary"
                matTooltip="Buch zurückgeben"
            >
                <mat-icon>assignment_return</mat-icon>
            </button>

            <button
                *ngIf="this.formGroup.enabled"
                type="submit"
                [disabled]="formGroup.invalid"
                mat-mini-fab
                color="primary"
                matTooltip="save changes"
            >
                <mat-icon>done</mat-icon>
            </button>

            <button
                *ngIf="this.formGroup.enabled"
                type="button"
                (click)="onCancel()"
                mat-mini-fab
                color="primary"
                matTooltip="undo changes"
            >
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </form>
</div>
