<div class="page">
    <div class="header-div">
        <h1>Ausleihvorgänge Übersicht</h1>
    </div>

    <app-assignment-list
        *ngIf="!openAssignment"
        [assignments]="assignments"
        (showAssignment)="onSelect($event)"
    ></app-assignment-list>

    <div class="button-container">
        <button
            matTooltip="Zurück"
            *ngIf="openAssignment"
            (click)="onBack()"
            mat-mini-fab
            color="primary"
        >
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="crud-container" *ngIf="!openAssignment">
            <button
                matTooltip="Bearbeiten"
                *ngIf="currentAssignment"
                (click)="onEdit()"
                mat-mini-fab
                color="primary"
            >
                <mat-icon>edit</mat-icon>
            </button>

            <button
                (click)="onAdd()"
                mat-mini-fab
                matTooltip="Erstellen"
                color="primary"
            >
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <app-assignment-view
        *ngIf="openAssignment"
        [create]="createAssignment"
        [assignment]="currentAssignment"
        [extendAssignment]="extendAssignment"
        [isAssignmentExtandable]="isAssignmentExtendable"
        [update]="updateAssignment"
        [allBorrowers]="borrowers"
        [allPublicationKeys]="publicationKeys"
    ></app-assignment-view>
</div>
