<div class="page">
    <div class="header-div">
        <h1>Ausleihvorgänge</h1>
    </div>

    <app-assignment-list
        *ngIf="!isViewOpen"
        [assignments]="data"
        (showAssignment)="onSelect($event)"
    ></app-assignment-list>

    <div class="button-container">
        <button
            matTooltip="Zurück"
            *ngIf="isViewOpen"
            (click)="onBack()"
            mat-mini-fab
            color="primary"
        >
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="crud-container" *ngIf="!isViewOpen">
            <button
                matTooltip="Editieren"
                *ngIf="currentRecord"
                (click)="onEdit()"
                mat-mini-fab
                color="primary"
            >
                <mat-icon>edit</mat-icon>
            </button>

            <button
                (click)="onAdd()"
                mat-mini-fab
                matTooltip="Hinzufügen"
                color="primary"
            >
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <app-assignment-view
        *ngIf="isViewOpen"
        [create]="createAssignment"
        [assignment]="currentRecord"
        [extendAssignment]="extendAssignment"
        [isAssignmentExtandable]="isAssignmentExtendable"
        [returnAssignment]="returnAssignment"
        [allBorrowers]="borrowers"
        [allPublications]="publications"
    ></app-assignment-view>
</div>
