<div class="mat-elevation-z8 container">
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ex. Java"
            #input
        />
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Key</th>
            <td mat-cell *matCellDef="let element">{{ element.key }}</td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
            <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>

        <ng-container matColumnDef="authors">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Authors</th>
            <td mat-cell *matCellDef="let element">
                <div *ngFor="let author of element.authors">
                    {{ author.surname }} {{ author.name }}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="dateOfPublication">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Date of Publication
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.dateOfPublication | date: "yyyy-MM-dd" }}
            </td>
        </ng-container>

        <ng-container matColumnDef="publisher">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Publisher</th>
            <td mat-cell *matCellDef="let element">{{ element.publisher }}</td>
        </ng-container>

        <ng-container matColumnDef="kindOfPublication">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Kind of Publication
            </th>
            <td mat-cell *matCellDef="let element">
                {{ element.kindOfPublication.value }}
            </td>
        </ng-container>

        <ng-container matColumnDef="isbn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ISBN</th>
            <td mat-cell *matCellDef="let element">{{ element.isbn }}</td>
        </ng-container>

        <ng-container matColumnDef="keywords">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Keywords</th>
            <td mat-cell *matCellDef="let element">
                <label *ngFor="let keyword of element.keywords">
                    {{ keyword.value }}
                </label>
            </td>
        </ng-container>

        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity</th>
            <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
            mat-row
            (click)="onShowPublication(row)"
            (click)="selection.toggle(row)"
            [ngClass]="{
                hovered: row.hovered,
                highlighted: selection.isSelected(row)
            }"
            (mouseover)="row.hovered = true"
            (mouseout)="row.hovered = false"
            *matRowDef="let row; columns: displayedColumns"
        ></tr>
    </table>

    <mat-paginator
        [pageSizeOptions]="[10, 25, 50]"
        showFirstLastButtons
        class="mat-paginator-sticky"
        aria-label="Select page of periodic elements"
    >
    </mat-paginator>
</div>
