<div class="page">
    <div class="header-div">
        <h1>Base Data</h1>
    </div>
    <mat-tab-group>
        <mat-tab label="Publicationtypes">
            <app-basedata-kinds 
                [data]="kindOfPubs"
            ></app-basedata-kinds>
        </mat-tab>
        <mat-tab label="Keywords">
            <app-basedata-keywords
                [data]="keywords"
            ></app-basedata-keywords>
        </mat-tab>
        <mat-tab label="Borrowers">
            <app-basedata-borrowers
                [data]="borrowers"
                [delete]="deleteBorrower"
                [create]="createBorrower"
                [update]="updateBorrower"
            ></app-basedata-borrowers>
        </mat-tab>
        <mat-tab label="Authors">
            <app-basedata-authors
                [data]="authors"
                [delete]="deleteAuthor"
                [create]="createAuthor"
                [update]="updateAuthor"
            ></app-basedata-authors>
        </mat-tab>
    </mat-tab-group>
</div>
