<div class="page">
    <div class="header-div">
        <h1>Base Data</h1>
    </div>
    <mat-tab-group>
        <mat-tab label="Publicationtypes">
            <app-basedata-kinds 
                [data]="(kindOfPubs$ | async) ?? []"
                (delete)="deleteKindOfPublication($event)"
                (create)="createKindOfPublication($event)"
                (update)="updateKindOfPublication($event)"
            ></app-basedata-kinds>
        </mat-tab>
        <mat-tab label="Keywords">
            <app-basedata-keywords
                [data]="(keywords$ | async) ?? []"
                (delete)="deleteKeyword($event)"
                (create)="createKeyword($event)"
                (update)="updateKeyword($event)"
            ></app-basedata-keywords>
        </mat-tab>
        <mat-tab label="Borrowers">
            <app-basedata-borrowers
                [data]="(borrowers$ | async) ?? []"
                (delete)="deleteBorrower($event)"
                (create)="createBorrower($event)"
                (update)="updateBorrower($event)"
            ></app-basedata-borrowers>
        </mat-tab>
        <mat-tab label="Authors">
            <app-basedata-authors
                [data]="(authors$ | async) ?? []"
                (delete)="deleteAuthor($event)"
                (create)="createAuthor($event)"
                (update)="updateAuthor($event)"
            ></app-basedata-authors>
        </mat-tab>
    </mat-tab-group>
</div>
