.container {
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    height: 90%;
    display: flex;
    flex-direction: column;
}


.form-container {
    width: 99%;
    margin: 5px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    align-items: flex-end;
}

.btn-container {
    width: 99%;
    margin: 5px;
    text-align: right;
    display: flex;
    margin-left: 10px;
}

button {
    margin: 5px;
    height: 50px;
    width: 50px;
}

mat-icon {
    font-size: 35px;
    width: 100%;
    height: 100%;
}

.add-btn {
    margin-right: 20px;
}

mat-form-field{
    margin-right: 10px;
}

