<div class="page">
    <div class="header-div">
        <h1>Mahnungswesen</h1>
    </div>

    <app-overdue-notice-list *ngIf="!isViewOpen" [overdueNotices]="data"  ></app-overdue-notice-list>

    <div class="button-container">
        <div class="crud-container">
            <button
                matTooltip="mahnen"
                *ngIf="!currentRecord"
                (click)="onEdit()"
                mat-mini-fab
                color="warn"
            >
                <mat-icon>assignment_late</mat-icon>
            </button>
        </div>
    </div>
</div>
