<div class="page">
    <div class="header-div">
        <h1>Mahnwesen</h1>
    </div>

    <app-overdue-notice-list
        *ngIf="!isViewOpen"
        [overdueNotices]="data"
        (checkRecord)="onCheckWarnstatus($event)"
    ></app-overdue-notice-list>

    <div class="button-container">
        <div class="crud-container">
            <button
                matTooltip="Mahnen"
                [disabled]="!(currentRecord && warnable)"
                (click)="onEdit()"
                mat-mini-fab
                color="primary"
            >
                <mat-icon>assignment_late</mat-icon>
            </button>
            <button
                matTooltip="Verlust melden"
                [disabled]="!(currentRecord && deleteable)"
                (click)="onEdit()"
                mat-mini-fab
                color="warn"
            >
                <mat-icon>delete_forever</mat-icon>
            </button>
        </div>
    </div>
</div>
