<div class="page">
    <div class="header-div">
        <h1>Mahnwesen</h1>
        <mat-slide-toggle color="accent">
            Historie
        </mat-slide-toggle>
    </div>

    <app-overdue-notice-list
        [overdueNotices]="data"
        [updateDataOnWarn]="onWarnSubject.asObservable()"
        [updateDataOnLoss]="onLossSubject.asObservable()"
        (selectRecord)="onSetSelection($event)"
    ></app-overdue-notice-list>

    <div class="crud-container">
        <button
            matTooltip="Verlust melden"
            [disabled]="!(currentRecord && deleteable)"
            mat-mini-fab
            color="warn"
            (click)="onLoss()"
        >
            <mat-icon>campaign</mat-icon>
        </button>
        <button
            matTooltip="Mahnen"
            [disabled]="!(currentRecord  && currentRecord.warnings && currentRecord.warnings.length < 3)"
            mat-mini-fab
            color="primary"
            (click)="onWarn()"
        >
            <mat-icon>assignment_late</mat-icon>
        </button>
    </div>
</div>
