<div class="container">
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Bsp. Java" />
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="keyword">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Schlagwort</th>
            <td mat-cell *matCellDef="let element">
                {{ element.value }}
            </td>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
            mat-row
            (click)="selection.toggle(row)"
            (click)="selectionChanged(row)"
            [ngClass]="{
                hovered: row.hovered,
                highlighted: selection.isSelected(row),
                disabled: crudState === 'create' || crudState === 'update'
            }"
            (mouseover)="row.hovered = true"
            (mouseout)="row.hovered = false"
            *matRowDef="let row; columns: displayedColumns"
        ></tr>
    </table>

    <mat-paginator
    [pageSizeOptions]="[10, 25, 50, 100]"
        showFirstLastButtons
        class="mat-paginator-sticky"
    >
    </mat-paginator>
</div>

<div class="form-container">
    <mat-form-field appearance="fill">
        <mat-label>Schlagwort</mat-label>
        <input
            id="input-value-of-keyword"
            [disabled]="crudState === 'read'"
            matInput
            placeholder="Bsp. Java"
            [(ngModel)]="selectedRecord.value"
            #keyword="ngModel"
            required
        />
    </mat-form-field>

    <div class="btn-container">
        <button
            matTooltip="Editieren"
            (click)="onEdit()"
            [disabled]="!selectedRecord.value"
            *ngIf="crudState === 'read'"
            mat-mini-fab
            color="primary"
        >
            <mat-icon>edit</mat-icon>
        </button>

        <button
            mat-mini-fab
            matTooltip="Speichern"
            *ngIf="crudState === 'create' || crudState === 'update'"
            (click)="onSave()"
            color="primary"
            [disabled]="!keyword.valid"
        >
            <mat-icon>done</mat-icon>
        </button>

        <button
            mat-mini-fab
            matTooltip="Löschen"
            [disabled]="!selectedRecord.value"
            *ngIf="crudState === 'read'"
            color="warn"
            (click)="onDelete(selectedRecord!)"
        >
            <mat-icon>delete</mat-icon>
        </button>

        <button
            mat-mini-fab
            matTooltip="Rückgängig"
            (click)="onUndo()"
            *ngIf="crudState === 'create' || crudState === 'update'"
            color="primary"
        >
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <button
        class="add-btn"
        mat-mini-fab
        matTooltip="Hinzufügen"
        color="primary"
        (click)="onAdd()"
        *ngIf="crudState === 'read'"
    >
        <mat-icon>add</mat-icon>
    </button>
</div>
