@import "@angular/material/prebuilt-themes/indigo-pink.css";
// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '@angular/material/prebuilt-themes/purple-green.css';

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

app-publications {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}

app-publication-list {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
}

app-publication-view {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
}

app-assignments {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}

app-assignment-list {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
}

app-assignment-view {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
}

app-dunning{
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
}

app-basedata {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
}