<div class="page">
    <div class="header-div">
        <h1> {{ headerTitle }}</h1>
        <mat-slide-toggle  *ngIf="!openPublication"
                           [checked]="showHistory"
                           color="accent"
                           (change)="changeShowHistory()"
        >
            Historie
        </mat-slide-toggle>
    </div>

    <app-publication-list
        *ngIf="!openPublication"
        [publications]="publications"
        [updateDataOnDelete]="onDeleteSubject.asObservable()"
        (showPublication)="onSelectPublication($event)"
    ></app-publication-list>

    <div class="button-container">
        <button
            matTooltip="Zurück"
            *ngIf="openPublication"
            (click)="onBack()"
            mat-mini-fab
            color="primary"
        >
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="crud-container" *ngIf="!openPublication">
            <button
                matTooltip="Löschen"
                *ngIf="!openPublication"
                [disabled]="!currentPublication"
                (click)="onDelete()"
                mat-mini-fab
                color="warn"
            >
                <mat-icon>delete</mat-icon>
            </button>
            <button
                matTooltip="Details"
                [disabled]="!currentPublication"
                (click)="onEditPublication()"
                mat-mini-fab
                color="primary"
            >
                <mat-icon>format_list_bulleted</mat-icon>
            </button>

            <button
                (click)="onAddPublication()"
                mat-mini-fab
                matTooltip="Hinzufügen"
                color="accent"
            >
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <app-publication-view
        *ngIf="openPublication"
        [publication]="currentPublication"
        [assignments]="assignments"
        [allKeywords]="keywords"
        [allAuthors]="authors"
        [allKindsOfPublication]="kindsOfPublication"
        [addingPublication]="addingPublication"
        (deletePublication)="onDeletePublication($event)"
        (savePublication)="onSavePublication($event)"
    ></app-publication-view>
</div>
