.page {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid;
}

.header {
    font-size: 40px;
    margin: 5px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 99%;
    margin: 5px;
}

button {
    margin: 5px;
}
