<div class="page">
    <div class="header-div">
        <h1>Publication Management</h1>
    </div>

    <app-publication-list
        *ngIf="!openPublication"
        class="table"
        [publications]="(publications$ | async) ?? []"
        (showPublication)="onSelectPublication($event)"
    ></app-publication-list>

    <div class="button-container">
        <button
            matTooltip="edit selection"
            *ngIf="currentPublication"
            (click)="onShowPublication()"
            mat-mini-fab
            color="primary"
        >
            <mat-icon>edit</mat-icon>
        </button>

        <button
            (click)="onShowPublication()"
            mat-mini-fab
            matTooltip="add publication"
            color="primary"
        >
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <app-publication-view
        *ngIf="currentPublication && openPublication"
        [publication]="currentPublication"
        (deletePublication)="onDeletePublication($event)"
        (savePublication)="onSavePublication($event)"
        (cancel)="onCancel()"
    ></app-publication-view>
</div>
